
.BOX1{
    height: 550px;
    width: 50%;
    margin: 5% 25%;
    position: relative;
    top: 25%;
    /* border: 2px rgb(21, 20, 20) solid; */
    box-sizing: border-box;
    border-radius: 5%;
    box-shadow: rgb(33, 33, 33,.3); 
}

input{
    border:2px solid blackS;
}
/* 
dl{
    margin: 0 20px;
} */

button{
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
}